$background: #3f3f3f;
$cell-size: 14px;
$whitespace: 2 * $cell-size / 3;

body {
  box-sizing: border-box;
  padding: 2% $whitespace;
  background: $background;
}

#root {
  text-align: center;
  min-width: 470px; // hack - guess & check
}

table {
  display: inline-block;
  margin: $whitespace;
  border-collapse: collapse;
}

th {
  padding-bottom: 4 * $cell-size / 5;

  span {
    // <hacks via Medium>
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga' on;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga' on;
    // </end hacks>

    display: inline-block;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-family: Courier, monospace;
    font-weight: normal;
    color: white;
    opacity: 0.8;
  }
}

td {
  position: relative;
  padding: 0;
  width: $cell-size;
  height: $cell-size;
  line-height: $cell-size;
  text-align: center;

  // border: 1px solid #333;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  // border: 1px solid white;
}
