:root {
  --cell-size: 16px;
}

body {
  background: #444;
  color: red;
  box-sizing: border-box;
  padding: 24px;
}

#root {
  text-align: center;
}

table {
  display: inline-block;
  margin: 12px;
  border-collapse: collapse;
}

td {
  position: relative;
  padding: 0;
  width: var(--cell-size);
  height: var(--cell-size);
  line-height: var(--cell-size);
  text-align: center;

  // border: 1px solid #333;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  // border: 1px solid white;
}
