body {
  background: #444;
  color: red;
  box-sizing: border-box;
  padding: 12px;
}

#root {
  text-align: center;
}

table {
  display: inline-block;
  margin: 64px 12px;
  border-collapse: collapse;
}

td {
  $cell-size: 14px;
  position: relative;
  padding: 0;
  width: $cell-size;
  height: $cell-size;
  line-height: $cell-size;
  text-align: center;

  // border: 1px solid #333;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  // border: 1px solid white;
}
